<p>reimbursement-list works!</p>
<!-- <div class="container col-md-7">
    <h2>
        Reimbursement Service List
    </h2>
    <table class="table table-striped">
        <thead>
            <tr>
                <th> Amount</th>
                <th> Date/Time submitted</th>
                <th> Description</th>
                <th> Status</th>
                <th> Reimbursement Type</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let reimbResponse of reimbsResponse">
                <td> {{ reimbResponse.amount }} </td>
                <td> {{ reimbResponse.submitted }} </td>
                <td> {{ reimbResponse.description }} </td>
                <td> {{ reimbResponse.statusID }} </td>
                <td> {{ reimbResponse.typeID }} </td>
            </tr>
        </tbody>
    </table>
</div> -->
